.about-container{
    background-image: url(../images/back.jpg);  
    width: 100%;
    height: 95vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat; 
}

$delay: 0.75s;
$duration: 1s;

.title{
    animation: load $duration ease-in-out;
}
.about-date{
    animation: load $duration $delay ease-in-out;
    animation-fill-mode: forwards;  
    margin-left: -100%;
}
.title-btn{
    animation: opacity_raise $duration*1 $duration*1.5 ease-in-out;
    animation-fill-mode: forwards;  
    opacity: 0
}

@keyframes load{
    from {margin-left: -100%;}
    50% {margin-left: 0;}
    75% {margin-left: 2%;}
    to {margin-left: 0;}
}

@keyframes opacity_raise{
    from {opacity: 0}
    to {opacity: 1}
}

.title{
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
    color: $thrd-clr;
    margin-top: 0.5rem;
    font-size:1.5rem;
}

.about-text {
    width: 90%;
    text-align:left;
    color:$thrd-clr;
}

.about-date{
    font-size: 1.5rem;
    margin-top: 1rem;
    text-transform: uppercase;
}

.participate-btn{
    margin-top:1.5rem;
    height: 60px;
    width: 100%;
    max-width: 300px;
    font-size: 1rem;
    display: block;
    border-radius: 0.2rem;
    background: transparent;
    border: solid 2px $thrd-clr;
    color: $thrd-clr;

    &:focus, &:active, &:hover{
        background:  $main-clr;
        color: $thrd-clr;
        border: solid 2px $main-clr;
        transition: all 0.5s;
    }
}

.base-info{
    font-size: 1rem;
    color: $thrd-clr;
    text-align: center;
    background-color: $main-clr;
}