$footer-back-clr: #E6E6E6;

.contacts-container{
    background-color: $footer-back-clr; 
    padding: 20px 10% 10px 10%
}

.contacts-container~p{
    color:$main-clr;
}

.basic-info span , .organization span , .phones span, .social span{
    color: $main-clr; 
    font-weight: 800; 
    padding:20px 0px;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
 }

 .basic-info li , .organization li , .phones li, .social li{
    padding:5px 0px;
    list-style: none;
 }

 .basic-info li p, .organization li p, .phones li p, .social li p{
    color:$frth-clr;
    text-decoration:none;
    font-size:14px;
 }

.social li{
    float:left;
    margin-top: 0;
}

.social .icon{
    color:#9c9c9c;
    margin-right: 10px;
    height: 35px;
}

.university-logo{
    width: 100px;
}