$main:#ffffff;
$second: #0462A9;
$width: 100%;

.participation-part{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color:$second;
    color:$main;
}

.requirements{
    user-select: none;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 4rem;
    .requirement{
        margin: 1rem 0;
        display: block;
        transition: 2s;
        text-decoration: none;
        color: $thrd-clr;
        cursor: pointer;
        &:hover{
            transform: scale(.9);
            .link{
                text-decoration: underline solid white;
            }
        }
        
        &:hover::after{
            width: 0%;
        }
        img{
            height: 80%;
            width: $width;
            fill: $thrd-clr;
            display: block;
        }
        p{
            height: 20%;
            text-align: center;
            font-size: 1.1rem;
            &::before{
                content: "";
                display: inline-block;
                background: $thrd-clr;
                width: 100%;
                border-radius: 10px;
                height: 10px;
                transition: 2s;
            }
            a{
                text-decoration: #ffffff;
            }
        }
    }
}

.cursor-def{
    cursor: default !important;
}

p.link{
    text-decoration: underline dashed white;
} 