.event {
    margin-bottom: 10px;
}

.event-time{
    text-align: left;
    margin-bottom: 5px;
    font-size: 1.1rem;
}

.event-description{
    margin-top: 5px;
}

.event-name{
    font-size: 1.1rem;
}
